Services/GeoSit.Web.Api/Web References/inmAvaluo/inmAvaluo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:inmAvaluo" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:inmAvaluo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:inmAvaluo">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="datos_inmueble">
        <xsd:all>
          <xsd:element name="obj_id" type="xsd:int" />
          <xsd:element name="supt" type="xsd:numeric" />
          <xsd:element name="supm" type="xsd:numeric" />
          <xsd:element name="avalt" type="xsd:numeric" />
          <xsd:element name="avalm" type="xsd:numeric" />
          <xsd:element name="frente" type="xsd:numeric" />
          <xsd:element name="regimen" type="xsd:int" />
          <xsd:element name="es_esquina" type="xsd:int" />
          <xsd:element name="es_calleppal" type="xsd:int" />
          <xsd:element name="zonat" type="xsd:string" />
          <xsd:element name="zonav" type="xsd:int" />
          <xsd:element name="zonaop" type="xsd:int" />
          <xsd:element name="agua" type="xsd:int" />
          <xsd:element name="cloaca" type="xsd:int" />
          <xsd:element name="gas" type="xsd:int" />
          <xsd:element name="alum" type="xsd:int" />
          <xsd:element name="pav" type="xsd:int" />
          <xsd:element name="vigencia" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="avaluoRequest">
    <wsdl:part name="datos_inmueble" type="tns:datos_inmueble" />
  </wsdl:message>
  <wsdl:message name="avaluoResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="Avaluo de InmueblePortType">
    <wsdl:operation name="avaluo">
      <documentation>Realiza el avaluo de los datos de un inmueble. Devuelve "OK" o un mensaje de tipo "Error:..."</documentation>
      <wsdl:input message="tns:avaluoRequest" />
      <wsdl:output message="tns:avaluoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Avaluo de InmuebleBinding" type="tns:Avaluo de InmueblePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="avaluo">
      <soap:operation soapAction="urn:inmuebles#avaluo" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:inmAvaluo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:inmAvaluo" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Avaluo de Inmueble">
    <wsdl:port name="Avaluo de InmueblePort" binding="tns:Avaluo de InmuebleBinding">
      <soap:address location="http://emaw70512.hopto.org/samws/inmAvaluo.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>